.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1351B4;
    padding: 35px 0;
    gap: 25px;
}

.footer p{
    color: #fff;
    font-size: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-footer{
    width: 100px;
    border-radius: 50%;
}

/* ==========================
        NOTEBOOK
========================== */

@media (max-width:1024px){

    .footer{

        padding:30px 40px;

        gap:20px;

    }

    .logo-footer{

        width:90px;

    }

    .footer p{

        font-size:1.1rem;

    }

}


/* ==========================
          TABLET
========================== */

@media (max-width:768px){

    .footer{

        flex-direction:column;

        text-align:center;

        padding:30px 25px;

        gap:18px;

    }

    .logo-footer{

        width:80px;

    }

    .footer p{

        font-size:1rem;

        line-height:1.6;

    }

}


/* ==========================
          MOBILE
========================== */

@media (max-width:480px){

    .footer{

        padding:25px 20px;

        gap:15px;

    }

    .logo-footer{

        width:70px;

    }

    .content{

        gap:8px;

    }

    .footer p{

        font-size:.9rem;

        line-height:1.6;

        text-align:center;

    }

}