*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button{
    border: none;
    background: transparent;
    cursor: pointer;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}